.background{
    background-image: url(images/images\ \(1\).jpg);
    /* background-size: cover; */
    background-size: contain ;
    height: 100vh;
    width: 100%;
}

h2 {
    text-align: center;
    /* padding-top: 32px; */
}

.santa{
    font-family: 'Pacifiko',  cursive;
    font-size: 96px;
    color: red;
    text-align: center;
    margin: 0;
    padding: 0;
}

.secret{
    font-family: 'Pacifiko',  cursive;
    font-size: 96px;
    color: rgb(3, 171, 3);
    text-align: center;
     margin: 0;
    padding: 0;
}

.location{
    text-align: center;   
    

}



